[*.{js,jsx,ts,tsx,vue}]
indent_style = space
indent_size = 2
ij_javascript_use_double_quotes = true
ij_javascript_use_semicolon_after_statement = true
printWidth = 120
semi = true;
trim_trailing_whitespace = true
insert_final_newline = true
